PORT=3333
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=ana-linda-gorda
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=tintas
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=pedro.org.br@gmail.com
SMTP_PASSWORD=hqfd jxwl ozuc lrgm
SMTP_FROM="pixel Color <pedro.org.br@gmail.com>"
